body {
    margin:0;
    /* padding-top: 50px; */
}  
* {
    display: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
nav{
    background-color:orange;
    height:60px;
    display: flex;
    justify-content: space-between;
    position: fixed; /*alwasy stick on screen*/
    width:100%;
}
img{
height:100%;
}
.logo{
    height: 100%
}
ul {
    display: flex;
    list-style: none;
    justify-content: center;
}
a {

    text-decoration: none;
    color: white;
}

li {
    
    margin: 19px;
    
}