body{
   background-color: rgb(206, 206, 215); */
}
html, body {
   height: 100%;
   width: 100%;
}
body {
   background-color: blue;
   color: azure;
}
h1{
   font-size: 50px;
   font-family: Arial, Helvetica, sans-serif;
}