body{
  /* background-color: blue; */
}
.grandParent{
  height: 600px;
  width: 1000px;
  border: 25px solid brown;
background-color: brown;
}
.parent{
  margin-top: 200px;
  background-color: aqua;
  border: 15px solid black;
}
.child{
  /* width: 200px;
  height: 200px; */
  background-color: wheat;
  border: 15px solid green;
  padding: 15px;
  display: flex;
  display: grid;
  /* flex-flow: column; */
}
.btn {
  align-items: center;
  margin-top: 90px;
  width: 100px;
  height:50px;
  border: 5px solid black;
}